
    .tooltip-container {
      position: relative;
      display: inline-block;
      cursor: pointer;
    }

    .tooltip-text {
      visibility: hidden;
      background-color: #333;
      color: #fff;
      text-align: center;
      padding: 5px 10px;
      border-radius: 6px;
      
     }
    .tooltip-container:hover .tooltip-text {
      visibility: visible;
      opacity: 1;
    }
 